<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

{% block title %}
Lukuvinkit
{% endblock %}

{% block body %}
<h1>Lukuvinkit</h1>

<body>
    <p>Tervetuloa! </p>
    {% if error %}
    <p>Error: {{error}}</p>
    {% endif %}
    
    {% if session.tunnus %}
        <p>Olet kirjautunut nimellä {{ session.tunnus }}.<br>
        <a href="/kirjaudu_ulos">Kirjaudu ulos</a></p>
    {% else %}
    <form action="/kirjautuminen" method="POST">
        <h2>Tunnus:</h2>
        <br>
        <input type="text" name="kayttajatunnus"></p>
        <h2>Salasana:</h2>
        <input type="password" name="salasana"></p>
        <input type="submit" value="Kirjaudu">
    </form>

    <form method="get" action="/rekisterointi">
        <button type="rekisteroidy">Rekisteröidy</button>
    </form>
    {% endif %}
</body>

<h3>Selaa lukuvinkkejä</h3>

{% for vinkki in vinkkilista %}
    <div> 
        Otsikko: {{ vinkki.otsikko }} </br>
        Url: <class="vinkki"><a href={{vinkki.linkki}}>{{ vinkki.linkki }}</a> 
    </div>
    <p>
        
{% endfor %}


{% endblock %}

