<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Lukuvinkit</title>
</head>

<body>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-8 d-flex justify-content-start">
                    <h1>Lukuvinkit</h1>
                </div>
                <div class="col-3 d-flex justify-content-end">
                     {% if session.tunnus %}
                        <p>Hei {{ session.tunnus }}!<br>
                        <a href="/kirjaudu_ulos">Kirjaudu ulos</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    
    <div class="container">
        <ul class="list-group list-group-flush">
            {% for vinkki in vinkkilista %}
                <li class="list-group-item">
                    <p> {{ vinkki.otsikko }} </p>
                    <class="vinkki"><a href={{vinkki.linkki}}>{{ vinkki.linkki }}</a> 
                </li>    
            {% endfor %}
        </ul>
    </div>

    
    {% if session.tunnus %}
    <div class="container">

        <form action="/luo_vinkki" method="POST">
            <div>Otsikko:</div> 
                <input type="text" name="otsikko">
            <div>Url:</div> 
            <input type="text" name="url">
            <div class="luo">
                <input type="submit" value="Luo uusi lukuvinkki" class="btn btn-primary">
            </div>
        </form>
    
    </div>
    {% endif %}



</body>
