<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

{% block title %}
Lukuvinkit
{% endblock %}

{% block body %}
{% if session.tunnus %}
    <p>Olet kirjautunut nimellä {{ session.tunnus }}.<br>
    <a href="/kirjaudu_ulos">Kirjaudu ulos</a></p>
{% endif %}
<h1>Lukuvinkit</h1>

{% for vinkki in vinkkilista %}
    <div> 
        Otsikko: {{ vinkki.otsikko }} </br>
        Url: <class="vinkki"><a href={{vinkki.linkki}}>{{ vinkki.linkki }}</a> 
    </div>
    <p>
        
{% endfor %}

<body>
    <p>
    <form action="/luo_vinkki" method="POST">
        <div>Otsikko:</div> 
        <input type="text" name="otsikko">
        <div>Url:</div> 
        <input type="text" name="url">
        <button type="submit">Luo uusi lukuvinkki</button>
    </form>
</body>


{% endblock %}