.header {
    background: rgba(76, 65, 130, 0.313);
    font-size: 5em;
    color: rgba(73, 61, 61);
    font-weight: bold; 
    padding-top: 15px;
    padding-bottom: 15px;

}

.header h1 {
    font-size: 90px;
    color: rgb(246, 246, 246);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.524);
}

.header form {
    margin-bottom: 15px;
}

.header p {
    font-size: 20px;
    color: rgba(73, 61, 61);
}

.header a {
    font-size: 17px;
}

li.list-group-item {
    background-color: snow;
    padding: 0px;
}

li.list-group-item p {
   font-size: 20px;
   font-weight: bold; 
}

.luo {
    margin-top: 10px;
}

.virhe {
    color: rgb(177, 77, 77);
}

body {
    margin: 0;
    padding: 0;
    background-color: snow;
}


