.header {
    background: rgba(18, 122, 14, 0.561);
    font-size: 5em;
    color: rgba(73, 61, 61);
    font-weight: bold; 
    padding-top: 15px;
    padding-bottom: 15px;

}

.header h1 {
    font-size: 90px;
    color: rgba(73, 61, 61);
}

.header form {
    margin-bottom: 15px;
}

.header p {
    font-size: 20px;
    color: rgba(73, 61, 61);
}

.header a {
    font-size: 17px;
}

li.list-group-item {
    background-color: snow;
    padding: 0px;
}

li.list-group-item p {
   font-size: 20px;
   font-weight: bold; 
}

.luo {
    margin-top: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: snow;
}


